.splash {
    width: 90%;
    padding-left: 10%;
    height: 75vh;
}
.splash * {
    margin: 0px;
    padding: 0px;
}
.splash .header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    margin: auto;
}
.splash .header * {
    padding: 0.2em;
}
.splash .links {
    display: inline-block;
    text-align: center;
}
.splash .links img {
    width: 48px;
    height: auto;
}
