{{partial "header.html" .}}
<div class="splash">
    <div class="hero">
        <h1>{{.Site.Title}}</h1>
        {{if .Site.Params.splashSubheading}}
            <h2>{{.Site.Params.splashSubheading}}</h2>
        {{end}}
        <div class="links">
            {{range .Site.Params.links}}
                <a href="{{.URL}}"><img src="{{.image}}"/></a>
            {{end}}
        </div>
    </div>
    <div class="sidekick">
        {{.Content}} 
    </div>
</div>
<div class="content">
    <div class="twitter">
        <a class="twitter-timeline"
        data-height="400"
        data-dnt="true"
        data-chrome="no-header"
        href="https://twitter.com/hazrmard?ref_src=twsrc%5Etfw">Tweets by Ibrahim</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
    <br/>
    {{ with .Site.GetPage "/about/news.md" }}{{ .Content }}{{ end }}
</div>
{{partial "sidebar.html" .}}
{{partial "footer.html" .}}