<!-- generates navigation from current section to home section for a page -->
<!-- current section is last element of sections slice -->
{{ $section := index (last 1 ($.Scratch.Get "sections")) 0 }}
<!-- keep appending section to slice and recursively call template to get
    parent section -->
{{ if not $section.Parent.IsHome }}
    {{ $.Scratch.Add "sections" .Parent }}
    {{ partial "breadcrumb.html" .Parent}}
{{ else }}
    {{ range $s := ($.Scratch.Get "sections").Reverse }}
        <a href="{{ $s.RelPermalink }}">{{ $s.Title }}</a> >
    {{ end }}
{{ end }}