<div class="footer">
        <div class="copyright">© {{.Site.Copyright}}</div>
    </div>
<!-- ending container div from header -->
</div> 

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuIcon = document.querySelector('.menu-icon');
        const topbar = document.querySelector('.topbar');

        if (menuIcon && topbar) {
            menuIcon.addEventListener('click', function () {
                const isExpanded = menuIcon.getAttribute('aria-expanded') === 'true';
                topbar.classList.toggle('mobile-menu-active');
                menuIcon.setAttribute('aria-expanded', !isExpanded);
            });
        }
    });
</script>

</body>
</html>
