<div class="front-matter">
    {{if eq .Type "project"}}
        <em>{{dateFormat "Jan 2006" .Date}}</em>
    {{else}}
        <em>{{dateFormat "Monday, Jan 2, 2006" .Date}}</em>
    {{end}}
    {{range $k, $v := .Site.Taxonomies}}
        {{if (isset $.Params $k)}}
            {{if (gt (len (index $.Params $k)) 0)}}
                <br/>{{$k | humanize}}:
                    {{range (index $.Params $k)}}
                        <a href="/{{$k}}/{{. | urlize}}">{{. | humanize}}</a>,
                    {{end}}
            {{end}}
        {{end}}
    {{end}}
</div>
