<div class="sidebar">
    <div class="menu-icon"><h2>≡</h2></div>
    <div class="title"><h1 class="site-name">{{.Site.Title}}</h1>
        {{if .IsHome}}
        {{else}}
            <div class="sb-links">
                {{range .Site.Params.links}}
                    <a href="{{.URL}}"><img src="{{.image}}"/></a>
                {{end}}
            </div>
        {{end}}
    </div>
    <ul class="menu-list">
        {{range .Site.Params.menu.main}}
            <a href="{{if eq .name $.Site.Params.blogroot}}#noexist{{else}}{{.url}}{{end}}">
            <li class="sb-option {{if eq .name $.Site.Params.blogroot}}dropdown{{end}}">
                <!-- <a href="{{if eq .name $.Site.Params.blogroot}}#noexist{{else}}{{.url}}{{end}}"> -->
                    <img src="{{.image}}" alt="{{.name}}"/><span class="menu-option-name">{{.name}}</span>
                <!-- </a> -->
                {{if eq .name $.Site.Params.blogroot}}
                <div class="submenu"><ul>
                    {{range $k, $v := $.Site.Taxonomies}}
                        {{if gt ($v | len) 0}}
                            <a href="/{{$k}}"><li>By {{$k | humanize}}</li></a>
                        {{end}}
                    {{end}}
                    <a href="/post"><li>All</li></a>
                </ul></div>
                {{end}}
            </li></a>
        {{end}}
    </ul>
</div>
