<div class="navigation">
    {{if .PrevInSection}}
        <a href="{{.PrevInSection.Permalink}}"><div class="prev nav-item">
            ← Previous {{.Type | humanize}}
        </div></a>
    {{end}}
    {{if .NextInSection}}
        <a href="{{.NextInSection.Permalink}}"><div class="next nav-item">
            Next {{.Type | humanize}} →
        </div></a>
    {{end}}
</div>
{{ $related := first 3 (.Site.RegularPages.Related .) }}
{{ if gt (len $related) 0 }}
<div class="related-posts">
    <h3>Related</h3>
    <div class="spotlight-grid">
        {{ range $related }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
</div>
{{ end }}
