<div class="proj-summary">
    {{if .Params.isexternal}}
        <a href="{{ .Params.link }}">
    {{else}}
        <a href="{{ .RelPermalink }}">
    {{end}}
    <h3>
        {{.Title}}
    </h3>
    <div class="image"
    {{if .Params.image}}
        style="background-image: url('{{.Params.image}}')"
    {{else}}
        style="background-image: url('{{.Site.Params.defaultprojimg}}')"
    {{end}}>
    <!-- {{if .Params.image}}
        <img src="{{.Params.image}}"/>
    {{else}}
        <img src="{{.Site.Params.defaultprojimg}}"/>
    {{end}} -->
    </div>
    <div class="front-matter">
        <em>{{dateFormat "Jan 2006" .Date}}</em><br/>
        {{.Description}}
    </div>
</div></a>
