.sidebar, .submenu {
    background-color: #26596A;
}
.title .site-name {
    color: #457585;
}
.sb-option {
    background-color: inherit;
    transition: 0.25s;
}
.sb-option:hover,
.submenu li:hover {
    background-color: #104050;
    transition: 0.25s;
}
.menu-list a:link,
.menu-list a:visited {
    color: #6C929F;
    text-decoration: none;
}

.header {

}
.header h1 {

}
.header h2 {

}

.content a:link,
.content a:visited {
    text-decoration: none;
    color: #AA9239;
    transition: 0.25s;
}
.content a:hover {
    color: #806915;
    text-decoration: underline;
    transition: 0.25s;
}
.prev, .next {
    color: #806915;
    background-color: #FFEDAA;
    padding: 0.5em;
    transition: 0.25s;
}
.prev:hover, .next:hover {
    background-color: #806915;
    color: #FFEDAA;
    transition: 0.25s;
}

.post-summary {
    background-color: #FFEDAA;
}

.post-title,
.page-title,
.post-summary .post-title a:link,
.post-summary .post-title a:visited,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    text-decoration: none;
    color: #554300;
}
.front-matter {
    color: #D4BE6A;
}
.terms {
    text-decoration: none;
    color: #806915;
}

.terms {
    background-color: #FFEDAA;
}

.proj-summary {
    background-color: #FFEDAA;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    transition: 0.25s;
}
.proj-summary:hover {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    transition: 0.25s;
}
.proj-summary .front-matter {
    color: #806915;
}
