{{define "main"}}
<!-- lists posts by section/taxonomy -->
<div class="content">
    {{ if .Params.gdrive_folder_id}}
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="/js/gdrive.js"></script>
        <script>
        // Wait for the gapi script to load before calling our function.
        window.onload = function() {
            populateFromGoogleDrive('content', 'summary {{.Section}}', '{{.Params.gdrive_folder_id}}');
        };
        </script>
    {{ end }}

    <h1 class="page-title">
        <!-- If list is of a taxonomy e.g. /categories or /tags, 
             show as "taxonomy -> term -->
        {{if eq .Kind "taxonomy"}}
            {{.Data.Plural | humanize | title}} → 
        {{end}}
        <!-- Name of list e.g. "Post" or "Engineering" -->
        {{.Title}}
    </h1>

    <!-- Anything written in "_index.md" for a particular SECTION listing. -->
    {{ .Content }}

    {{ if eq .Section "about" }}
        {{ partial "connect.html" (dict "page" . "showPageLinks" true) }}
    {{ end }}

    <!-- Any sub-sections -->
    {{ if (gt (len .Sections) 0) }}
    <details open>
        <summary><strong>Subsections</strong></summary>
        <ul class="sections-list">
            {{ range $s := .Sections}}
                <a href="{{$s.RelPermalink}}">
                <li class="terms">
                    {{ $s.Name }} ({{ len $s.Pages }})
                </li></a>
            {{ end }}
        </ul>
    </details>
    {{ end }}

    <!-- spotlit items in this list, featured up top as a grid; they also
    appear again below in their normal place in the dated list -->
    {{ partial "spotlight_grid.html" .RegularPages }}

    <!-- break down posts into pages -->
    <!-- each section list only shows pages in that section directory or
    with an explicit "type=SECION" in front matter -->
    {{ $paginator := .Paginate (.RegularPages.ByDate.Reverse) }}
    {{ range $paginator.Pages }}
        {{.Render "summary"}}
    {{ end }}
    <br/>
    <!-- passes a dict with "context" and "paginator" keys -->
    {{ if gt (len $paginator.Pagers) 1 }}
        {{partial "list_navigation.html" (dict "context" . "paginator" $paginator) }}
    {{ end }}
    <br/>
</div>
{{end}}
