{{define "main"}}
<article class="content">
    <h1 class="post-title">{{.Title}}</h1>
    {{partial "frontmatter.html" .}}
    {{ if .Params.link}}
        <blockquote>{{.Type | humanize}} hosted at: <a href="{{.Params.link}}">{{.Params.link}}</a></blockquote>
    {{end}}
    <br/>
    {{partial "tableofcontents.html" .}}
    <br/>
    {{.Content}}
    <br/>
    {{partial "single_navigation.html" .}}
    <br/>
    {{/*  <div class="comments">
        {{ template "_internal/disqus.html" . }}
    </div>  */}}
</article>
{{/*  See layouts/_markup/mermaid.html  */}}
{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
    console.info("Mermaid initialized");
  </script>
{{ end }}
{{end}}
