{{define "main"}}
<article class="content">
    <h1 class="post-title">{{.Title}}</h1>
    {{partial "frontmatter.html" .}}
    {{ if .Params.link}}
        <blockquote>{{.Type | humanize}} hosted at: <a href="{{.Params.link}}">{{.Params.link}}</a></blockquote>
    {{end}}
    <br/>
    {{partial "tableofcontents.html" .}}
    <br/>
    {{.Content}}
    <br/>
    {{partial "single_navigation.html" .}}
    <br/>
    <div class="comments">
        {{ template "_internal/disqus.html" . }}
</article>
{{end}}
