<div class="summary {{.Section}}">
    <div class="image"
        {{if .Params.image}}
            style="background-image: url('{{.Params.image}}')"
        {{else}}
            style="background-image: url('{{.Site.Params.defaultpostimg}}')"
        {{end}}>
    </div>
    <div class="description">
        {{if .Params.link }}
            <a href="{{ .Params.link }}"><h3>{{.Title}} 🡵</h3></a>
        {{else}}
            <a href="{{ .RelPermalink }}"><h3>{{.Title}}</h3></a>
        {{end}}
        <div class="front-matter">
            <em>{{dateFormat "Monday, Jan 2, 2006" .Date}}</em> | {{.ReadingTime}} min read
            {{ partial "taxonomies.html" . }}
        </div>
        {{if .Params.description }}
            {{.Params.description}}
        {{else}}
            {{.Summary}}
        {{end}}
    </div>
</div>
