<div class="summary {{.Section}}">
    <div class="image"
        {{if .Params.image}}
            {{- $image := .Params.image -}}
            {{- if not (strings.HasPrefix $image "http") -}}
                {{- if not (strings.HasPrefix $image "/") -}}
                    {{- $image = printf "%s%s" .RelPermalink $image -}}
                {{- end -}}
            {{- end -}}
            style="background-image: url('{{$image}}')"
        {{else}}
            style="background-image: url('{{.Site.Params.defaultpostimg}}')"
        {{end}}>
    </div>
    <div class="description">
        {{if .Params.link }}
            <a href="{{ .Params.link }}"><h3>{{.Title}} 🔗</h3></a>
        {{else}}
            <a href="{{ .RelPermalink }}"><h3>{{.Title}}</h3></a>
        {{end}}
        <div class="front-matter">
            <em class="front-matter-date">
                {{ if ne .Lastmod .Date }}
                    (Updated: {{ dateFormat "Jan 2, 2006" .Lastmod }}), 
                {{ end }}
                {{dateFormat "Jan 2, 2006" .Date}}
            </em> | 
            {{.ReadingTime}} min read
            {{ partial "taxonomies.html" . }}
        </div>
        {{if .Params.description }}
            {{.Params.description}}
        {{/*  {{else}}
            {{.Summary}}  */}}
        {{end}}
    </div>
</div>
