
<div class="top-inp-pdf">
	<input type="text" autofocus="autofocus" placeholder="Search résumé" ng-model="search"/>
	<div ng-if="resumeData.pdf_link.length"><a href="{{resumeData.pdf_link}}">PDF Version</a></div>
</div></br>

<div class="section head">
	<h1 class="h1">{{resumeData.personal_info.name}}</h1>
	<div class="subheading" ng-if="resumeData.personal_info.email.length">{{resumeData.personal_info.email}}</div>
	<div class="subheading" ng-if="resumeData.personal_info.phone.length">{{resumeData.personal_info.phone}}</div>
	<div class="links" ng-if="resumeData.personal_info.links.length">
		<div class="link" ng-repeat="link in resumeData.personal_info.links">
			<a href={{link.url}}>{{link.title}}</a>
		</div>
	</div>
</div>

<div class="section" ng-show="edus.length">
	<h2 class="h2">Education</h2>
	<div class="education subsection" ng-repeat="edu in edus = (resumeData.education | filter:search | lowercase)">
		<h5 class="h5">{{edu.degree}} - {{edu.major}}</h5>
		<h5 class="h5 workplace">{{edu.school}}</h5>
		<h5 class="h5 time">{{edu.year}}</h5>
		<div class="details" ng-if="edu.thesis.length">Thesis: <em>{{edu.thesis}}</em></div>
		<div class="courses" ng-if="edu.courses.length">
			<div class="subheading details">Courses:</div>
			<table class="courses-table table details"><tr>
				<td class="col-md-3"><ul>
					<li ng-repeat="course in edu.courses" ng-if="$even">{{course}}</li>
				</ul></td>
				<td class="col-md-3"><ul>
					<li ng-repeat="course in edu.courses" ng-if="$odd">{{course}}</li>
				</ul></td>
			</tr></table>
		</div>
	</div>
</div>

<div class="section" ng-show="res.length">
	<h2 class="h2">Research</h2>
	<div class="research subsection" ng-repeat="r in res = (resumeData.research | filter:search | lowercase)">
		<!-- <h5 class="h4 workplace">{{r.title}}</h5>
		<h5 class="h5 time">{{r.time}}</h5> -->
		<div class="details">
			<div class="subheading" ng-if="r.advisor.length">Advisor: {{r.advisor}}</div>
			<div ng-if="r.description.length">{{r.description}}</div>
			<ul ng-if="r.achievements.length">
				<li ng-repeat="entry in r.achievements">{{entry}}</li>
			</ul>
		</div>
		<div class="links" ng-if="r.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in r.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
		<div class="technologies" ng-if="r.technologies.length">
			<div class="subheading">Technology: </div>
			<div class="tech" ng-repeat="tech in r.technologies">{{tech}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="exps.length">
	<h2 class="h2">Experience</h2>
	<div class="experience subsection" ng-repeat="exp in exps = (resumeData.experience | filter:search | lowercase)">
		<h5 class="h5 title">{{exp.title}}</h5>
		<h5 class="h5 workplace">{{exp.workplace}}</h5>
		<h5 class="h5 time">{{exp.time}}</h5>
		<div class="details"><ul>
			<li ng-repeat="entry in exp.achievements">{{entry}}</li>
		</ul></div>
		<div class="links" ng-if="exp.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in exp.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
		<div class="technologies" ng-if="exp.technologies.length">
			<div class="subheading">Technology: </div>
			<div class="tech" ng-repeat="tech in exp.technologies">{{tech}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="projects.length">
	<h2 class="h2">Projects</h2>
	<div class="projects subsection" ng-repeat="project in projects = (resumeData.projects | filter:search | lowercase)">
		<h5 class="h5 title">{{project.title}}</h5>
		<h5 class="h5 time" ng-if="project.time.length">{{project.time}}</h5>
		<div class="blurb details" ng-if="project.blurb.length">{{project.blurb}}</div>
		<div class="details" ng-if="project.description.length">{{project.description}}</div>
		<div class="links" ng-if="project.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in project.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
		<div class="technologies" ng-if="project.technologies.length">
			<div class="subheading">Technology: </div>
			<div class="tech" ng-repeat="tech in project.technologies">{{tech}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="skillsets.length">
	<h2 class="h2">Skills</h2>
	<div class="skills subsection" ng-repeat="skillset in skillsets = (resumeData.skills | filter:search | lowercase)" ng-if="(skillset.skills | filter:search | lowercase).length">
		<h5 class="h5">{{skillset.title}}</h5>
		<div class="technologies">
			<div class="tech h5" ng-repeat="skill in skills = (skillset.skills | filter:search | lowercase)">
				{{skill}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="extracurriculars.length">
	<h2 class="h2">Extracurriculars</h2>
	<div class="extracurriculars subsection" ng-repeat="extra in extracurriculars = (resumeData.extracurriculars | filter:search | lowercase)">
		<h5 class="h5 title">{{extra.title}}</h5>
		<h5 class="h5 time" ng-if="extra.time.length">{{extra.time}}</h5>
		<div class="details" ng-if="extra.description.length"><ul>
			<li ng-repeat="item in extra.description">{{item}}</li>
		</ul>
		</div>
		<div class="details" ng-if="extra.details.length">
			{{extra.details}}
		</div>
		<div class="links" ng-if="extra.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in extra.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
	</div>
</div>

<div class="section" ng-show="honors.length">
	<h2 class="h2">Honors</h2>
	<div class="honors subsection" ng-repeat="honor in honors = (resumeData.honors | filter:search | lowercase)">
		<h5 class="h5">{{honor.title}}</h5>
		<div class="details blurb">{{honor.details}}</div>
	</div>
</div>

<div class="section" ng-show="publications.length">
	<h2 class="h2">Publications</h2>
	<div class="publications subsection" ng-repeat="pub in publications = (resumeData.publications | filter:search | lowercase)">
		<div class="details blurb">{{pub}}</div>
	</div>
</div>

