

<input type="text" autofocus="autofocus" placeholder="Search resume" ng-model="search"/><br>

<div class="section head">
	<h1 class="h1">{{resumeData.personal_info.name}}</h1>
	<div class="subheading" ng-if="resumeData.personal_info.email.length">{{resumeData.personal_info.email}}</div>
	<div class="subheading" ng-if="resumeData.personal_info.phone.length">{{resumeData.personal_info.phone}}</div>
	<div class="links" ng-if="resumeData.personal_info.links.length">
		<div class="link" ng-repeat="link in resumeData.personal_info.links">
			<a href={{link.url}}>{{link.title}}</a>
		</div>
	</div>
</div>

<div class="section" ng-show="edus.length">
	<h2 class="h2">Education</h2>
	<div class="education subsection" ng-repeat="edu in edus = (resumeData.education | filter:search | lowercase)">
		<h3 class="h3">{{edu.degree}} - {{edu.major}}</h3>
		<h4 class="h4 workplace">{{edu.school}}</h4>
		<h4 class="h4 time">{{edu.year}}</h4>
		<div class="courses" ng-if="edu.courses.length">
			<div class="subheading details">Courses:</div>
			<table class="courses-table table details"><tr>
				<td class="col-md-3"><ul>
					<li ng-repeat="course in edu.courses" ng-if="$even">{{course}}</li>
				</ul></td>
				<td class="col-md-3"><ul>
					<li ng-repeat="course in edu.courses" ng-if="$odd">{{course}}</li>
				</ul></td>
			</tr></table>
		</div>
	</div>
</div>

<div class="section" ng-show="exps.length">
	<h2 class="h2">Experience</h2>
	<div class="experience subsection" ng-repeat="exp in exps = (resumeData.experience | filter:search | lowercase)">
		<h3 class="h3 title">{{exp.title}}</h3>
		<h4 class="h4 workplace">{{exp.workplace}}</h4>
		<h4 class="h4 time">{{exp.time}}</h4>
		<div class="details"><ul>
			<li ng-repeat="entry in exp.achievements">{{entry}}</li>
		</ul></div>
		<div class="links" ng-if="exp.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in exp.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
		<div class="technologies" ng-if="exp.technologies.length">
			<div class="subheading">Technology: </div>
			<div class="tech" ng-repeat="tech in exp.technologies">{{tech}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="projects.length">
	<h2 class="h2">Projects</h2>
	<div class="projects subsection" ng-repeat="project in projects = (resumeData.projects | filter:search | lowercase)">
		<h3 class="h3 title">{{project.title}}</h3>
		<h4 class="h4 time" ng-if="project.time.length">{{project.time}}</h4>
		<div class="blurb details" ng-if="project.blurb.length">{{project.blurb}}</div>
		<div class="details" ng-if="project.description.length">{{project.description}}</div>
		<div class="links" ng-if="project.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in project.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
		<div class="technologies" ng-if="project.technologies.length">
			<div class="subheading">Technology: </div>
			<div class="tech" ng-repeat="tech in project.technologies">{{tech}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="skillsets.length">
	<h2 class="h2">Skills</h2>
	<div class="skills subsection" ng-repeat="skillset in skillsets = (resumeData.skills | filter:search | lowercase)" ng-if="(skillset.skills | filter:search | lowercase).length">
		<h3 class="h3">{{skillset.title}}</h3>
		<div class="technologies">
			<div class="tech h4" ng-repeat="skill in skills = (skillset.skills | filter:search | lowercase)">
				{{skill}}</div>
		</div>
	</div>
</div>

<div class="section" ng-show="extracurriculars.length">
	<h2 class="h2">Extracurriculars</h2>
	<div class="extracurriculars subsection" ng-repeat="extra in extracurriculars = (resumeData.extracurriculars | filter:search | lowercase)">
		<h3 class="h3 title">{{extra.title}}</h3>
		<h4 class="h4 time" ng-if="extra.time.length">{{extra.time}}</h4>
		<div class="details" ng-if="extra.description.length"><ul>
			<li ng-repeat="item in extra.description">{{item}}</li>
		</ul>
		</div>
		<div class="details" ng-if="extra.details.length">
			{{extra.details}}
		</div>
		<div class="links" ng-if="extra.links.length">
			<div class="subheading">Link(s): </div>
			<div class="link" ng-repeat="link in extra.links"><a href={{link.url}}>{{link.title}}</a></div>
		</div>
	</div>
</div>

<div class="section" ng-show="honors.length">
	<h2 class="h2">Honors</h2>
	<div class="honors subsection" ng-repeat="honor in honors = (resumeData.honors | filter:search | lowercase)">
		<h3 class="h3">{{honor.title}}</h3>
		<div class="details blurb">{{honor.details}}</div>
	</div>
</div>

