<!-- lists posts by series -->
{{partial "header.html" .}}
<div class="content">

    <h1 class="page-title">
        <!-- Series: SERIES NAME -->
            {{.Data.Plural | humanize}}: {{.Title}}
    </h1>

    <!-- Anything written in "_index.md" for a particular listing. -->
    {{ .Content }}

    <!-- break down posts into pages -->
    <!-- each section list only shows pages in that section directory or
    with an explicit "type=SECION" in front matter -->
    {{ $paginator := .Paginate (.Data.Pages.Reverse) }}
    {{ range $paginator.Pages }}
        {{.Render "meta"}}
    {{ end }}
    <br/>
    <!-- passes a dict with "context" and "paginator" keys -->
    {{partial "list_navigation.html" (dict "context" . "paginator" $paginator) }}
    <br/>
    

</div>
{{partial "sidebar.html" .}}
{{partial "footer.html" .}}