/*site-wide colours/styling for sidebar and content*/

colour-scheme {
    color:
    #104050
    #26596A
    #6C929F

    #554300
    #806915
    #AA9239
    #D4BE6A
    #FFEDAA
}

.sidebar, .submenu {
    background-color: #26596A;
}
.title .site-name {
    color: #6C929F;
}
.sb-option {
    background-color: inherit;
    transition: 0.25s;
}
.sb-option:hover,
.submenu li:hover {
    background-color: #104050;
    transition: 0.25s;
}
.menu-list a:link,
.menu-list a:visited {
    color: #6C929F;
    text-decoration: none;
}



a:link,
a:visited {
    text-decoration: none;
    color: #AA9239;
    transition: 0.25s;
}
a:hover {
    color: #806915;
    text-decoration: underline;
    transition: 0.25s;
}
blockquote {
    background-color: #FFEDAA;
    border-left: 1em solid #D4BE6A;
    padding: 0.25em 0.5em;
    color: #806915;
}
.outlined {
    border: 0.2em solid #AA9239;
    padding: 0.25em 0.5em;
}
.content > p > code {
    background-color: #FFEDAA;
    padding: 0em 0.25em;
}
.prev, .next, .nav-item {
    color: #806915;
    background-color: #FFEDAA;
    padding: 0.5em;
    transition: 0.25s;
}
.prev:hover, .next:hover, .nav-item:hover, .nav-item.highlighted {
    background-color: #806915;
    color: #FFEDAA;
    transition: 0.25s;
}

.summary.post {
    background-color: #FFEDAA;
}
.summary.project {
    background-color: #6C929F;
}

.post-title,
.page-title,
.summary .post-title a:link,
.summary .post-title a:visited,
h1, h2, h3, h4, h5, h6, strong {
    text-decoration: none;
    color: #554300;
}
.front-matter {
    color: #D4BE6A;
}
.terms {
    text-decoration: none;
    color: #806915;
    background-color: #FFEDAA;
}

details {
    border: 1px solid #554300;
}
