/*Colours/styling for resume*/

colour-scheme {
    color:
    #104050
    #26596A
    #6C929F

    #554300
    #806915
    #AA9239
    #D4BE6A
    #FFEDAA
}
.top-inp-pdf {
    
}
.top-inp-pdf input {
    float: left;
    width: 40%;
}
.top-inp-pdf div {
    float: right;
}

.resume .head {
    clear: both;
    text-align: center;
    width: 100%;
}
.resume .section {
    margin: 1em 0em;
    padding: 0.25em 0.25em;
    background-color: #FDFEFE;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.resume .section h2 {
    padding-left: 0.25em;
}
.resume .subsection {
    padding: 0.2em 0.5em;
    border-top: 1px solid #CACFD2;
}

.resume h1, .resume h2, .resume h3, .resume h4, .resume h5, .resume h6 {
    padding: 0.25em 0em;
    margin: 0px;
}


.resume .subheading {
    font-weight: bold;
}
.resume table {
    display: block;
    overflow-x: auto;
}
.resume td, .resume th {
    border: none !important;
}
.resume ul {
    margin: 0px;
}


.resume .workplace, .resume .time, .resume .links div, .resume .technologies div {
    display: inline-block;
}
.resume .workplace, .resume .projects .title, .resume .extracurriculars .title {
    float: left;
}
.resume .time {
    float: right;
}
.resume .details {
    clear: both;
}
.resume .link, .resume .tech {
    font-size: 75%;
    margin: 0.2em 0.3em;
    padding: 0.2em 0.3em;
    border-radius: 20%;
}
.resume .tech {
    background-color: #AA9239;
    color: #FFEDAA;
}
.resume .link {
    background-color: #FFEDAA;
}

.resume .blurb {
    font-style: italic;
}
