.splash {
    width: 85vw;
    padding-left: 15vw;
    height: 50vh;
}
.splash * {
    margin: 0px;
    padding: 0px;
}
.splash .hero {
    transform: translateY(-25%);
    width: 70%;
    margin: 25vh auto auto auto;
}
.splash .hero * {
    padding: 0.2em;
}
.splash .links {
    display: inline-block;
    text-align: center;
}
.splash .links img {
    width: 48px;
    height: auto;
}
.splash .sidekick {
    width: 50%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .splash .sidekick {
        width: 90%;
    }
}