{{partial "header.html" .}}
{{partial "sidebar.html" .}}
<div class="content grid">
    <h1 class="page-title">
        {{if .Title}}
            {{.Title}}
        {{else}}
            {{.Type | pluralize | humanize}}
        {{end}}
    </h1>
    {{.Content}}

    <!-- break down posts into pages -->
    <!-- each section list only shows pages in that section directory or
    with an explicit "type=SECION" in front matter -->
    {{ $paginator := .Paginate (.Data.Pages) }}
    {{ range $paginator.Pages }}
        {{.Render "summary"}}
    {{ end }}
    <br/>

    <!-- passes a dict with "context" and "paginator" keys -->
    {{partial "list_navigation.html" (dict "context" . "paginator" $paginator) }}
    <br/>
</div>
{{partial "footer.html" .}}
