<div class="summary {{.Section}}">
    <div class="image"
    {{if .Params.image}}
        style="background-image: url('{{.Params.image}}')"
    {{else}}
        style="background-image: url('{{.Site.Params.defaultprojimg}}')"
    {{end}}>
    </div>
    <div class="description">
        {{if .Params.isexternal}}
            <a href="{{ .Params.link }}">
        {{else}}
            <a href="{{ .RelPermalink }}">
        {{end}}
            <h3>{{.Title}}</h3>
        </a>
        <div class="front-matter">
            <em>{{dateFormat "Jan 2006" .Date}}</em><br/>
            {{ partial "taxonomies.html" . }}
        </div>
        {{if .Params.description }}
            {{.Params.description}}
        {{else}}
            {{.Summary}}
        {{end}}
    </div>
</div>
